body {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
}
#board {
    width: min(95vw, 640px);
    height: min(95vw, 640px);

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    background: #f0d9b5;
}

.black {
    background: #b58863;
}

.piece {
    width: 85%;
    height: 85%;
    object-fit: contain;
}
