body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #eeeeee;
}


#board {
    width: 480px;
    height: 480px;
    margin: 30px auto;

    display: grid;
    grid-template-columns: repeat(8, 1fr);

    border: 3px solid black;
}


.square {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
}


.white {
    background: #f0d9b5;
}


.black {
    background: #b58863;
}
